# Environments
.env
.env.*
!.env.example

# Arduino Secrets
**/secrets.h

# STM32 Build Files
Nucleo_F411RE/Debug/
Nucleo_F411RE/Release/
**/*.o
**/*.elf
**/*.bin
**/*.hex
**/*.map

# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
package-lock.json

# Credentials & Certificates
certs/
*.pem
*.crt
*.key
*.der

# KiCad
**/*.kicad_prl
**/*.lck
**/fp-info-cache
**/.history/
**/*-backups/
