#ifndef SECRETS_H
#define SECRETS_H
#include <pgmspace.h>

const char *ssid = "YOUR_WIFI_SSID";
const char *password = "YOUR_WIFI_PASSWORD";

const char* AWS_IOT_ENDPOINT = "YOUR_AWS_ENDPOINT.amazonaws.com";
const int AWS_IOT_PORT = 8883;
const char* AWS_IOT_TOPIC = "esp32/face_tracker/data";
const char* AWS_IOT_CLIENT_ID = "ESP32-CAM-Tracker";

const char AWS_CERT_CA[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
YOUR ROOT CA HERE
-----END CERTIFICATE-----
)EOF";

const char AWS_CERT_CRT[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
YOUR DEVICE CERTIFICATE HERE
-----END CERTIFICATE-----
)EOF";

const char AWS_CERT_PRIVATE[] PROGMEM = R"EOF(
-----BEGIN RSA PRIVATE KEY-----
YOUR PRIVATE KEY HERE
-----END RSA PRIVATE KEY-----
)EOF";

#endif
